
FacadeDesignPOC.xcodeproj/xcuserdata/joniger.xcuserdatad/xcschemes/xcschememanagement.plist
FacadeDesignPOC.xcodeproj/project.xcworkspace/xcuserdata/joniger.xcuserdatad/UserInterfaceState.xcuserstate
WordCreate.xcodeproj/project.xcworkspace/contents.xcworkspacedata
