
FacadeDesignPOC.xcodeproj/xcuserdata/joniger.xcuserdatad/xcschemes/xcschememanagement.plist
FacadeDesignPOC.xcodeproj/project.xcworkspace/xcuserdata/joniger.xcuserdatad/UserInterfaceState.xcuserstate
WordCreate.xcodeproj/project.xcworkspace/contents.xcworkspacedata
WordCreate.xcodeproj/xcshareddata/xcschemes/WordCreate.xcscheme
/WordCreate.xcodeproj/project.xcworkspace/xcuserdata
FacadeDesignPOC.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
/FacadeDesignPOC.xcodeproj/xcuserdata
.DS_Store
WordCreate.xcodeproj/xcuserdata/joniger.xcuserdatad/xcschemes/xcschememanagement.plist
FacadeDesignPOC/APIKeys.swift
WordCreate.xcodeproj/xcuserdata/joniger.xcuserdatad/xcschemes/xcschememanagement.plist
